link(type='text/css' rel='stylesheet' href='/stylesheets/experience.css')

div.container
	div.content
		h1.center Experience
		div.row
			div.col-sm-8.col-sm-offset-2
				div.job
					h2 People Corporation <a href='http://www.peoplecorporation.com/' target='_blank'><i class='fa fa-external-link'></i></a> - <span>June 2014 - Present</span>
					p
						span.city Winnipeg, MB
						span.title Application Developer

				div.job
					h2 iQmetrix <a href='http://www.iqmetrix.com/' target='_blank'><i class='fa fa-external-link'></i></a> - <span>January 2013 - April 2013</span>
					p 
						span.city Winnipeg, MB
						span.title Web Developer (Co-op)

				div.job
					h2 Agriculture and Agri-Food Canada <a href='http://www.agr.gc.ca/eng/home/?id=1395690825741' target='_blank'><i class='fa fa-external-link'></i></a> – <span>May 2012 – August 2012</span>
					p
						span.city Winnipeg, MB
						span.title Small Systems Analyst (Co-op)
					
				div.job
					h2 Geomax Mobile Corporation <a href='http://www.geomaxmobile.com/' target='_blank'><i class='fa fa-external-link'></i></a> – <span>September 2011 – December 2011</span>
					p
						span.city Winnipeg, MB
						span.title Wireless Application Developer (Co-op)

		h1.center Education
		div.row
			div.col-sm-8.col-sm-offset-2
				div.job 
					h2 University of Manitoba <a href='http://umanitoba.ca/' target='_blank'><i class='fa fa-external-link'></i></a> – <span>2007 - 2013</span>
					p
						span.title BSc in Computer Science Co-op Option