footer
	div.container
		div.row
			div.col-sm-12.center
				a.up-arrow(href="#section-home") <span></span>
				<a href='/downloads/Herald Gutierrez - Resume.pdf' target='_blank'><i class='fa fa-file-text-o'></i></a>
				<a href='mailto:heraldgutierrez@gmail.com'><i class='fa fa-envelope-o'></i></a>
				<a href='https://github.com/heraldgutierrez' target='_blank'><i class='fa fa-github-square'></i></a>
				<a href='https://www.linkedin.com/in/herald-gutierrez/' target='_blank'><i class='fa fa-linkedin'></i></a>