div.container
	div.content.center
		div.home-content
			h1 Herald Gutierrez
			h2 Full-Stack Developer
			div.row
				div.col-sm-8.col-sm-offset-2
					div.social-media
						<a href='/downloads/Herald Gutierrez - Resume.pdf' target='_blank'><i class='fa fa-file-text-o'></i></a>
						<a href='mailto:heraldgutierrez@gmail.com'><i class='fa fa-envelope-o'></i></a>
						<a href='https://github.com/heraldgutierrez' target='_blank'><i class='fa fa-github-square'></i></a>
						<a href='https://www.linkedin.com/in/herald-gutierrez/' target='_blank'><i class='fa fa-linkedin'></i></a>
