link(type='text/css' rel='stylesheet' href='/stylesheets/samples.css')

div.samples
	h1.center SAMPLES
	div.sample-left
		div.container
			div.content
				div.col-md-10.col-md-offset-1
					div.row
						div.col-md-5.col-sm-6
							hr.section-heading-spacer
							br
							h2.section-heading <a href='http://heraldandjoanne.com/' target='_blank'>Herald + Joanne's Wedding</a>
							span.section-subheading Status: In Progress
							div.section-centent
								p After being engaged I wanted a way to share our Wedding and Wedding Social information with everyone. With our guest enjoying and taking photos during the events, I am able to share the photos tagged with #HJSayIDo on Instagram.
						div.col-md-5.col-md-offset-2.col-sm-6
							a(href='http://heraldandjoanne.com/' target='_blank') <img src='/images/samples/wedding.png' />
	div.sample-right
		div.container
			div.content
				div.col-md-10.col-md-offset-1
					div.row
						div.col-md-5.col-md-offset-1.col-sm-push-6.col-sm-6
							hr.section-heading-spacer
							h2.section-heading <a href='http://cakedwithloveco.ca/' target='_blank'>Caked With Love Co.</a>
							span.section-subheading Status: Production
							div.section-centent
								p Caked With Love Co. is a cafe and bakery located on Corydon Ave, owned by Marvic and Eileen. Without any background in business, these two friends, with the help of their friends and family, took a leap of faith and created their successful business together.
								p.developer-notes When creating this project I thought of allowing the owner modifying certain content on the websites, a custom cms system. As they owner they can:
									ul
										li Modify the store hours
										li Provide updated/important hours or events that occur within the store
										li Modify the gallery description and add images (via Google Drive)
										li Update FAQs

						div.col-md-5.col-sm-pull-6.col-sm-6
							a(href='http://cakedwithloveco.ca/' target='_blank') <img src='/images/samples/caked-with-love-co.png' />
	div.sample-left
		div.container
			div.content
				div.col-md-10.col-md-offset-1
					div.row
						div.col-md-5.col-sm-6
							hr.section-heading-spacer
							h2.section-heading <a href='http://alvinalproductions.heraldgutierrez.com/' target='_blank'>Alvin.Al Productions</a>
							span.section-subheading Status: Proof of Concept - Cancelled
							div.section-centent
								p Alvin and Al are videographers from Winnipeg, MB. They specialize as wedding videographers providing a full length video and a same day edit video of the wedding.
								p.developer-notes This was a cancelled proof of concept since they decided to retire from videography and move onto another career path before the website could be finalized.
						div.col-md-5.col-md-offset-2.col-sm-6
							a(href='http://alvinalproductions.heraldgutierrez.com/' target='_blank') <img src='/images/samples/alvin-al-productions.png' />
