nav.side-navigation
	a(href='#section-home') <div class='dot'><span class='nav-title'>Home</span></div>
	a(href='#section-skills') <div class='dot'><span class='nav-title'>Skillset</span></div>
	a(href='#section-samples') <div class='dot'><span class='nav-title'>Samples</span></div>
