link(type='text/css' rel='stylesheet' href='/stylesheets/skillset.css')
	
div.container
	div.content.center
		div.skillset
			h1 SKILLSET
			div.row
				div.col-sm-8.col-sm-offset-2
					div.col-xs-4  <img src='/images/skillset/html.png' />
					div.col-xs-4  <a href='https://angularjs.org/' target='_blank'><img src='/images/skillset/angular.png' /></a>
					div.col-xs-4  <img src='/images/skillset/responsive.png' />
					div.col-xs-4 <a href='http://sass-lang.com/' target='_blank'><img src='/images/skillset/sass.png' /></a>
					div.col-xs-4 <a href='http://getbootstrap.com/' target='_blank'><img src='/images/skillset/bootstrap.png' /></a>
					div.col-xs-4 <img src='/images/skillset/css.png' />
					div.col-xs-4 <a href='https://git-scm.com/' target='_blank'><img src='/images/skillset/git.png' /></a>
					div.col-xs-4 <img src='/images/skillset/sql.png' />
					div.col-xs-4 <a href='https://nodejs.org/en/' target='_blank'><img src='/images/skillset/node.png' /></a>