extends layout

block content
	//- Other Information
	div#additional.section_container
		div.section
			center
				span.person 4th Annual Cousin Christmas
				span Location: Pat's and Peachie's House
				span Updated: December 13, 2016 11:27am
			br

			span.person Food:
			ul
				li EVERYONE - ONE 2L Drink
				li Cecille and Family - Baked Mac
				li Christine and Mark - Spring rolls (lumpia) or bread rolls
				li Gayle - Buttered chicken
				li Joanne and Herald - Chowmein
				li Kimmy - 4packs ng canned soda
				li Pat and Peachie - Kalderera and Alfredo pasta
				li Paul and Family - Tray of fried rice

			hr

			span.person Archie Ballesteros:
			ul
				li <a href="https://www.elfster.com/profile/view/10659666/10659669" target="_blank">Found on Elfster</a> 
			span.person Arnold Capucion:
			ul
				li Scarf

			span.person Arnold Nagutom:
			ul
				li Winter Gloves (Large)
				li Hat (Medium)
				li Graphic Tee (Medium)
				li Box or Kcups dark roast coffee

			span.person Cecille Maranan:
			ul
				li Hollister - <a href="https://www.hollisterco.ca/shop/ca/p/lace-hem-waffle-graphic-tee-8295784_01?ofp=true" target="_blank">Lace-Hem Waffle Graphic Tee</a> 
					ul
						li Size: Medium
						li Colour: White or grey
				li Bath & Body - 3 Wick Candles
				li Angel Figurines

			span.person Christian Lozano:
			ul
				li Sport Chek - <a href="https://www.sportchek.ca/categories/men/apparel/tops/long-sleeve/athletic/product/nike-legend-20-mens-long-sleeve-tee-331930768.html#331930768=331930795" target="_blank">Nike Legend 2.0 Men's Long Sleeve Tee</a> 
					ul
						li Size: Medium
				li Nike Dri-Fit Ankle or Mid Socks
					ul
						li Size: 9.5
						li Colour: Black

			span.person Christine Capucion:
			ul
				li <a href="https://www.walmart.com/ip/Furinno-K6-Premium-Aluminum-360-Adjustable-Portable-Folding-Lapdesk/38392465" target="_blank">Furinno K6 Premium Aluminum 360 Adjustable Portable Folding Lapdesk</a>
				li <a href="https://www.walmart.com/ip/Homdox-360-Degree-Adjustable-Folding-Laptop-Desk-For-Bed-With-Mouse-Board/144751300" target="_blank">Homdox 360-Degree Adjustable Folding Laptop Desk For Bed With Mouse Board</a>
				li Ferrero chocolates
				li Socks (sz 7 black)	

			span.person Bernadeth Ilag:
			ul
				li Forever 21 - <a href="http://www.forever21.com/ca/Product/Product.aspx?br=f21&category=promo-jeans-refresh&productid=2000116321&curpage=1" target="_blank">Mid-Rise Skinny Jeans</a> 
					ul
						li Size: 35	

			span.person Erid Mendoza:
			ul
				li <a href="http://www.liquormarts.ca/product/tomatin-12-year-highland-single-malt-scotch-whisky/750-ml?mode=detail_mode" target="_blank">Tomatin 12 Year Highland Single Malt Scotch Whisky</a> 
				li <a href="http://www.liquormarts.ca/product/luksusowa-vodka/750-ml?mode=%27d9bf%25252527%25252520or%252525201%2525253D1/%2525252A" target="_blank">Luksusowa Vodka</a> 
				li <a href="http://www.liquormarts.ca/product/gekkeikan/18-litre?mode=detail_mode1111111111111%20UNION%20SELECT%20CHAR%2845%2C120%2C49%2C45%2C81%2C45%29%20--%20%20/%2A" target="_blank">Gekkeikan</a> 			

			span.person Faye Baybay:
			ul
				li Hollister - <a href="https://m.hollisterco.ca/shop/ca/p/textured-non-closure-cardigan-8295635_02?ofp=true" target="_blank">Textured Non-Closure Cardigan</a> 
					ul
						li Size: XS
						li Colour: Dark Grey
				li Hollister - <a href="https://m.hollisterco.ca/shop/ca/p/sherpa-lined-button-front-sweatshirt-8295733" target="_blank">Sherpa Lined Button-Front Sweatshirt</a> 
					ul
						li Size: XS
						li Colour: Olive Green
				li Pandora - <a href="http://estore-ca.pandora.net/en-ca/eternal-clouds/190615.html?cgid=rings&src=categorySearch#srule=price-low-to-high&sz=12&start=1&cid=sem%3Age%3Ae%3Aen-ca%3A%3A%3ABrand+-+Phrase%3Ach16%3Ate%3Apandora&cgid=rings" target="_blank">Eternal Clouds</a>
					ul
						li Size: 4.5
				li Wal-Mart - <a href="http://www.walmart.ca/en/ip/vick-mini-filter-free-cool-mist-ultrasonic-humidifier-19-l/6000195363184" target="_blank">Vick Mini Filter Free Cool Mist Ultrasonic Humidifier (1.9L)</a> 
				li White Converse
					ul
						li Size: Kids 3

			span.person Gayle Baybay:
			ul
				li Hollister - <a href="https://www.hollisterco.ca/shop/ca/girls-tops/-8108628_04?ofp=true" target="_blank">Cold Shoulder Peasant Top</a>
					ul
						li Size: Small / Medium
						li Colour: White
				li Hollister - <a href="https://www.hollisterco.ca/shop/ca/girls-tops/cowl-neck-tunic-sweater-8612619_05?ofp=true" target="_blank">Cowl Neck Tunic Sweater</a>
					ul
						li Size: Small / Medium
						li Colour: Cream
				li Hollister - <a href="https://www.hollisterco.ca/shop/ca/girls-tops/-7804691_01?ofp=true" target="_blank">Must-Have Easy Pocket Tee</a>
					ul
						li Size: Small / Medium
						li Colour: Black
				li Hollister - <a href="https://www.hollisterco.ca/shop/ca/girls-tops/-7804694_01?ofp=true" target="_blank">Must-Have Notch-Front Ribbed T-Shirt</a>
					ul
						li Size: Small / Medium
						li Colour: Cream or Grey

			span.person Herald Gutierrez:
			ul
				li <a href="https://www.elfster.com/profile/view/7366858/21218761" target="_blank">Found on Elfster</a> 

			span.person Jayson Maranan:
			ul
				li LIDS - <a href="https://www.lids.com/toronto-blue-jays-new-era-mlb-black-white-9fifty-snapback-cap/20840105" target="_blank">Toronto Blue Jays New Era MLB Black White 9FIFTY Snapback Cap</a> 
				li LIDS - <a href="https://www.lids.com/toronto-raptors-mitchell-and-ness-nba-cation-2tone-snapback-cap/20837823" target="_blank">Toronto Raptors Mitchell and Ness NBA Cation 2Tone Snapback Cap</a>
				li LIDS - <a href="https://www.lids.com/toronto-blue-jays-new-era-mlb-2016-diamond-era-59fifty-training-cap/20817191" target="_blank">Toronto Blue Jays New Era MLB 2016 Diamond Era 59FIFTY Training Cap</a>

			span.person James Patrick Ilag:
			ul
				li LIDS - <a href="https://www.lids.ca/oakland-raiders-new-era-nfl-lids-20th-anniversary-script-9fifty-snapback-cap/20787806" target="_blank">Oakland Raiders New Era NFL 20th Anniversary Script</a> 
				li Crew Neck or V-neck Sweater (suitable for the office)
				li Pullover Hoodie (Large)
				li LIDS - <a href="https://www.lids.ca/toronto-blue-jays-new-era-mlb-heather-crisp-59fifty-snapback-cap/20863870" target="_blank">Toronto Blue Jays New Era MLB Heather Crisp</a> 
				li LIDS - <a href="https://www.lids.ca/chicago-white-sox-new-era-mlb-black-white-9fifty-snapback-cap/20779033" target="_blank">Chicago White Sox New Era MLB Black White</a> 

			span.person Joanne Rutaquio:
			ul
				li <a href="https://www.elfster.com/profile/view/7366863/" target="_blank">Found on Elfster</a> 

			span.person Jonalee Servidad-Galoyo:
			ul
				li Hollister - <a href="https://www.hollisterco.ca/shop/ca/p/textured-non-closure-cardigan-8295635_04?ofp=true" target="_blank">Textured Non-Closure Cardigan</a> 
					ul
						li Size: Small
						li Colour: Burgundy
				li SportChek - <a href="https://www.sportchek.ca/product/332121811.html#332121811=332123004" target="_blank">Nike Therma-FIT Elite Run 2.0 Men's Gloves</a> 
					ul
						li Size: Large

			span.person Juvy Maranan:
			ul
				li Underarmour - Hoodie
					ul
						li Size: Medium

			span.person Kimberly Maranan:
			ul
				li Bath & Body - 3 Wick Candles
					ul
						li Fresh Winter scents only please (NO baked goods or cinnamon smells)
						li Note: are 10.50 today!!! (Dec 3)

			span.person Kimmy Peji
			ul
				li Superstore - Smoothie Blender
					ul
						li Reference image: <img src="/images/blender.jpg" style="width: 350px; height: 300px;"/>

			span.person Lea Larion:
			ul
				li Hollister - <a href="https://www.hollisterco.ca/shop/ca/p/faux-fur-lined-graphic-hoodie-8139629_02?ofp=true" target="_blank">Faux Fur Lined Graphic Hoodie</a> 
					ul 
						li Size: Large
						li Note: Currently on sale as of Dec 3
				li Hollister - <a href="https://www.hollisterco.ca/shop/ca/p/-8140131?ddkey=https:Search&search-field=Zip%20Up%20Velour%20Hoodie" target="_blank">Zip Up Velour Hoodie</a> 
					ul 
						li Size: Large
						li Note: Currently on sale as of Dec 3
				li Any Large Scarf

			span.person Lillian Mendoza:
			ul
				li <a href="https://www.jysk.ca/dreamzone-body-pillow.html" target="_blank">Body Pillow</a> 
					ul
						li Note: As of Dec 1, on sale at JYSK
				li Extra happy points if you also find a Pillow Case with it
				li Double extra happy points if you include a box of Japanese Mandarin Oranges

			span.person Mark Capucion:
			ul
				li Compression Tights
				li Toronto Bluejays Fitted Hat
					ul
						li Size: 7 1/4
						li Colour: Blue
				li Cleveland Indians Fitted Hat 
					ul
						li Size: 7 1/4
						li Colour: Black or Dark Blue 
				li Sport Chek - Nike Compression Shirt
					ul
						li Size: Medium
						li Colour: Black
				li Any Crooks & Castles Hoody from Winners or Marshalls
					ul 
						li Size: Medium
				li Pillows LOL
				li Nike Elite Socks 
					ul 
						li Colour: Black or White

			span.person Martin Maranan:
			ul
				li Polo Hat
					ul
						li Colour: Khaki or Red
				li Black Earrings
					ul
						li Note: Whatever you think would look nice on me
				li Any Long Tees
					ul
						li Size: Small
				li Cardigan
					ul
						li Size: Small
				li Toque

			span.person Mary Ann Nagutom:
			ul
				li Foam Handsoap
				li Bath & Body - 3 Wick Candle
				li Tim Hortons - Gift Card
					ul
						li Note: i know bawal gift card pero wala n ko maisip e..... thank you :)

			span.person Mary Katherine Ballesteros:
			ul
				li Soft Moc - Mukloks
					ul
						li Style: Short
						li Colour: Gray
						li Size: 6.5 or 7
						li Reference image: <img src="/images/mukluks.jpg" style="width: 350px; height: 300px;"/>
				li $35 worth of Set for Life
					ul
						li Note: From 7 different stores and I want to see the receipt

			span.person Nadine Maranan:
			ul
				li MCAT preparation books
				li Coffee maker

			span.person Paul Ilag:
			ul
				li Pullover sweater
					ul
						li Size: Large
						li Colour: Black/grey
				li Hoodie (large)
					ul
						li Size: Large
						li Colour Black/grey/navy blue
				li Underarmour gloves 
					ul 
						li Size: Medium
				li Sweats/Joggers
					ul 
						li Size: Large
				li Black socks

			span.person Peachie Ilag:
			ul
				li Sephora - "Stilla" water proof eye liner intense black
				li MAC Powder Foundation (A55 Medium) mineralize skin finish

			span.person Ronald/Onad Maranan:
			ul
				li Pull Over Sweater
					ul
						li Size: Small

			span.person Shannon Maranan:
			ul
				li iPhone 6 Phone Case
				li Sephora - Laura Mercier Loose Powder (small one)
				li Garage/H&M/etc - Tops/Blouses/Sweaters
					ul 
						li Colour: <b>NEUTRAL</b> only
				li Black Athletic Tights
					ul
						li Size: Small

			span.person Shawie Capucion:
			ul
				li Power bank or power pack

			span.person Shawn Maranan:
			ul
				li H&M - Zip up sweater
					ul 
						li Size: Medium
						li Colour: Black

			span.person Wilfredo Maranan:
			ul
				li Compression Tights
					ul 
						li Size: Medium
						li Colour: Black

			span.person William Lozano:
			ul
				li Low Cut Vans Black/White (Size 8.5)
				li Army Green Pullover (Medium)
				li Diamond Earrings (that make me look baller)
				li Hershel Toque Grey
				li Long Tee (Medium)
				li Mini BBal Hoop (for my room)
				li White/Grey/Black Pullover (Medium)
				li White Sox 47 MVP Hat Black
				li Dodgers 47 MVP Hat Blue
				li Army Green Jacket (Medium)
				li Short Sleeve Pullover (Medium)
				li Kobe Jersey (Youth XL)
				li Cool Socks

			span.person Zeeron Maranan:
			ul
				li Zumiez - <a href="http://www.zumiez.com/zine-tall-scoop-black-long-t-shirt.html" target="_blank">Zine Tall Scopp Black Long T-Shirt</a> 
					ul
						li Size: Medium
				li Zumiez - <a href="http://www.zumiez.com/ninth-hall-high-rise-white-neps-long-t-shirt.html" target="_blank">Ninth Hall High Rise Neps Long T-Shirt</a> 
					ul
						li Size: Medium
