extends layout

block styles
	link(rel='stylesheet', href='/css/index.css')

block content
	div.about
		p Hello, I'm Herald Gutierrez. I graduated from the University of Manitoba with a Bachelors of Science: Computer Science degree. I am currently working towards becoming a better web developer. With every web page I create, I am getting more and more experience. For my personal website, I wanted to practice my CSS (using SASS), with minimal JavaScript, and responsive web design.

		p Other samples of my work can be found in my 
			a(href='/portfolio') portfolio page
			| , and my work history can be found either on my 
			a(href='/resume') resume
			|  or my 
			a(href='http://ca.linkedin.com/pub/herald-gutierrez/34/337/9b0') LinkedIn profile.
			|  If you'd like to find out more about myself, you can contact me through my 
			a(href='mailto:heraldgutierrez@hotmail.com') email.
			|  I'd love to hear from you.