extends layout

block content	
	div.row
		div.col-sm-12
			span <a href="/downloads/Herald Gutierrez - Resume.pdf" target="_blank">Download <i class="fa fa-download"></i></a>

	div.row
		div.col-sm-12
			div.row
				div.col-sm-8
					div.section
						span.header Work Experience

						div.subsection
							span.subheader People Corporation - Application Developer
							span.location Winnipeg, MB
							span.date June 2014 - Present
							ul
								li Develop a new application that consolidates information of new potential clients, existing clients’, their group benefits information, and generates various reports.
								li Improve ease of group benefit enrolment by creating a customizable wizard and Excel parser that could be deployed on a per-client basis.
								li Improve internal communication by developing a web portal application with customizable content, permission controls, and Active Directory integration.
								li Maintain all active applications.
								li Update and maintain corporate and partner websites.
								li Provide HelpDesk support for all development related issues.
								li Provide in-person and WebEx user training.
								li Wrote various project user documentations to supplement user training.

						div.subsection
							span.subheader iQmetrix - Web Developer
							span.location Winnipeg, MB
							span.date January 2013 - April 2013 (Co-op Work Term III)
							ul
								li Maintained the intranet website for clients. Tasks included fixing reported bugs, implementing new features, and resolving support requests.
								li Perform code reviews with peers.
								li Attended daily morning scrums and bi-weekly iteration planning.

						div.subsection
							span.subheader Agriculture and Agri-Food Canada – Small Systems Analyst
							span.location Winnipeg, MB
							span.date May 2012 – August 2012 (Co-op Work Term II)
							ul
								li Implemented a PDF generator function within Excel.
								li Developed various internal single-page web applications.
								li Attended requirement meetings with other departments.
							
						div.subsection
							span.subheader Geomax Mobile Corporation – Wireless Application Developer
							span.location Winnipeg, MB
							span.date September 2011 – December 2011 (Co-op Work Term I)
							ul
								li Updated their web application that kept track of invoice documents throughout their processing phase.
								li Attended customer meetings for software reviews and requests for additional features for the web application.
								li Updated the Geomax Mobile website.
								li Performed software releases.


				div.col-sm-4
					div.section
						span.header Skills

						div.subsection
							span.subheader Languages
							ul
								li C#
								li CSS
								li HTML
								li JavaScript
								li SQL
								li VBScript
								li XML

						div.subsection
							span.subheader Frameworks & Libraries
							ul
								li AngularJS
								li ASP.NET MVC
								li Entity Framework
								li jQuery
								li .NET Framework 4.5
								li NodeJS
								li Sass

						div.subsection
							span.subheader Software
							ul
								li Git
								li JIRA
								li Microsoft Internet Information Services (IIS)
								li Microsoft SQL Server
								li Microsoft Visual Studio

						div.subsection
							span.subheader Methodologies
							ul
								li Agile: Scrum & Kanban
								li Object-oriented Programming
								li Responsive Web Design
								li Waterfall


					div.section
						span.header Education
						div.subsection 
							span.subheader University of Manitoba
							span.location BSc in Computer Science Co-op Option
							span.date 2007 - 2013