extends layout

block styles
	link(rel='stylesheet', href='/css/christmas.css')

block content
	//- Other Information
	div#additional.section_container
		div.section
			center
				span.header 2015 Christmas Secret Santa Wishlist

			span Updated: December 2, 2015 20:16
			br

			span Notes:
			ul
				li Format: [Store/Brand] - [Item (with link)] 
					ul
						li [Other additional information] 
				li Items are listed with lowest price first

			span.person Archie Ballesteros:
			ul
				li GoPro 3+ Chest Strap
				li Any GoPro 3+ Accessories
				li Medium Nike Duffle/Gym Bag

			span.person Christine Capucion:
			ul
				li SportChek - <a href="https://www.sportchek.ca/categories/women/apparel/athletic-apparel/shorts/product/nike-pro-11-womens-shorts-331681660.html#331681660=331681676" target="_blank">Nike Pro 11" Women's Shorts</a> 
					ul
						li Size: S
						li Regular price: $29.99
				li BH Cosmetics - <a href="http://www.bhcosmetics.com/products/sculpt-and-blend-2-10-piece-brush-set" target="_blank">Sculpt and Blend 2 – 10 Piece Brush Set</a> 
					ul
						li Regular price: $32
						li.red On sale (on Nov 28): $19
						li Notes: Seems to be American based, international shipping is $6
				li Amazon - <a href="http://www.amazon.ca/Ebuddy-Corsets-Bustiers-Training-Cincher/dp/B00W3CRQWS" target="_blank">Ebuddy Women Sport Latex Steel Boned Corsets and Bustiers Waist Training Cincher</a> 
					ul
						li Size: L
						li Colour: Rose (this is what was linked)
						li Regular price: $32.99
				li Forever 21 - <a href="http://www.forever21.com/shop/ca/en/women-activewear/p/abstract-print-athletic-pullover-2000174867--1001" target="_blank">Abstract Print Athletic Pullover</a> 
					ul
						li Size: L
						li Regular price: $34.90
				li Forever 21 - <a href="http://www.forever21.com/shop/ca/en/women-activewear/p/tonal-stripe-athletic-pullover-2000174781--1001" target="_blank">Tonal Stripe Athletic Pullover</a> 
					ul
						li Size: L
						li Regular price: $34.90
				li Urban Planet - <a href="http://urban-planet.com/0764-25914796-faux-fur-vest-apparel.html" target="_blank">Faux Fur Vest</a> 
					ul
						li Size: <b>Not mentioned</b>
						li Regular price: $39.99
				li Urban Planet - <a href="http://urban-planet.com/0775-44825089-faux-leather-ankle-boots-apparel.html" target="_blank">Faux Leather Ankle Boots</a> 
					ul
						li Size: 7
						li Regular price: $39.99
				li Urban Planet - <a href="http://urban-planet.com/0775-08245003-faux-leather-combat-boot-apparel.html" target="_blank">Faux Leather Combat Boots</a> 
					ul
						li Size: 7
						li Colour: Black
						li Regular price: $39.99
				li SportChek - <a href="https://www.sportchek.ca/categories/women/apparel/outdoor-apparel/hoodies/product/columbia-outerspaced-womens-full-zip-outdoor-hoody-331471781.html#331471781%5Bcolor%5D=10" target="_blank">Columbia Outerspaced Women's Full-Zip Outdoor Hoody</a> 
					ul
						li Size: L
						li Colour: White/Grey
						li Regular price: $48.74
				li H&M - <a href="http://www.hm.com/ca/product/98573?article=98573-J#article=98573-B" target="_blank">Reefer Jacket</a> 
					ul
						li Size: Medium
						li Regular price: $49.99
				li <strike>Spring - <a href="http://www.callitspring.com/ca/en/women/boots/c/130/RAVE/p/33751791-28" target="_blank">Rave (boots)</a></strike> 
					ul
						li <strike>Size: 7</strike>
						li <strike>Colour: Cognac</strike>
						li <strike>Regular price: $89.99</strike>
						li <strike>On sale (on Nov 28): $38.99</strike>
						li Notes: <b>DO NOT BUY. Bought it myself</b>
				li Aldo - <a href="http://www.aldoshoes.com/ca/en/women/women%3A-styles-at-a-steal/c/720/EDAWIEN/p/39696084-28" target="_blank">Edawien</a> 
					ul
						li Size: 7
						li Regular price: $99.99
						li.red On sale (on Nov 28): $49.99
				li Spring - <a href="http://www.callitspring.com/ca/en/CALL-IT-SPRING/sale/women/sale-boots/HUCKS/p/97252342-28" target="_blank">Hucks</a> 
					ul
						li Size: 7
						li Colour: Brown (I'm assumming? Wasn't mentioned)
						li Regular price: $99.99
						li.red On sale (on Nov 28): $41.99
						li Notes: Free shipping until Monday
				li Lululemon - <a href="http://shop.lululemon.com/products/clothes-accessories/jackets-and-hoodies-hoodies/Scuba-Hoodie-II?cc=15129&skuId=3563480&catId=jackets-and-hoodies-hoodies" target="_blank">Scuba Hoodie II</a> 
					ul
						li Size: 6
						li Regular price: $108
						li Notes: I have as $30 gift card ill add the rest also ;) hehe


			span.person Herald Gutierrez:
			ul
				li IKEA - <a href="http://www.ikea.com/ca/en/catalog/products/00278168/#/20278167" target="_blank">Kallax Insert with Door</a> 
					ul
						li Colour: White (NOT Gloss White)
						li Regular price: $10
				li IKEA - <a href="http://www.ikea.com/ca/en/catalog/products/00314642/#/70286645" target="_blank">Kallax Insert with 2 Drawers</a> 
					ul
						li Colour: White (NOT Gloss White)
						li Regular price: $20
				li IKEA - <a href="http://www.ikea.com/ca/en/catalog/products/50192365/" target="_blank">Dioder: LED 4 Piece Light Strip Set</a> 
					ul
						li Colour: Multi-colour
						li Regular price: $39.99
				li EB Games - <a href="https://www.ebgames.ca/PC/Games/720191/" target="_blank">Steam Controller</a> 
					ul
						li Regular price: $59.99
						li Notes: Willing to pay the difference
				li Amazon - <a href="http://www.amazon.ca/Raspberry-Pi-Basic-Starter-Supply/dp/B00O3QIS60/ref=sr_1_6?ie=UTF8&qid=1448771376&sr=8-6&keywords=raspberry+pi" target="_blank">Raspberry Pi 2 - Basic Starter Kit</a> 
					ul
						li Regular price: $59.95 + Free shipping
						li Notes: Willing to pay the difference

			span.person Joanne Rutaquio:
			ul
				li Sephora - <a href="http://www.sephora.com/mini-duo-angled-spooley-7-P69517?skuId=765776" target="_blank">Anastasia Beverly Hills - Mini Duo Angled/Spooley 7</a> 
					ul
						li Regular price: $23
						li Located: Brushes & Applicators > Eye Brushes
				li H&M - <a href="http://www.hm.com/ca/product/38968?article=38968-A" target="_blank">Woven Poncho with Fringes</a> 
					ul
						li Size: XS
						li Regular price: $29.99
				li Sephora - <a href="http://www.sephora.com/brow-powder-duo-P69300?country_switch=ca&lang=en" target="_blank">Anastasia Beverly Hills - Brow Powder Duo</a> 
					ul
						li Colour: Medium Brown - Taupe based brown
						li Regular price: $30
						li Located: Eye Makeup > Eyebrows
				li Sephora - <a href="http://www.sephora.com/primed-poreless-skin-smoothing-face-primer-P241301?skuId=1147883" target="_blank">Too Faced - Primed & Poreless Skin Smoothing Face Primer</a> 
					ul 
						li Regular price: $38
						li Located: Face Makeup > Face Primer


			span.person Mary Ann Nagutom:
			ul
				li Pandora Charm
				li Nice Printed Scarf
				li BH Cosmetics - <a href="http://www.bhcosmetics.com/products/sculpt-and-blend-2-10-piece-brush-set" target="_blank">Sculpt and Blend 2 – 10 Piece Brush Set</a> 
					ul
						li Regular price: $32
						li.red On sale (on Nov 28): $19
						li Notes: Seems to be American based, international shipping is $6
				//-li  - <a href="" target="_blank"></a> 
				//-	ul
				//-		li Size: 
				//-		li Regular price: $
				//-li  - <a href="" target="_blank"></a> 
				//-	ul
				//-		li Size: 
				//-		li Regular price: $

			span.person Mary Katherine Ballesteros
			ul
				li Amazon - <a href="http://www.amazon.ca/Ebuddy-Corsets-Bustiers-Training-Cincher/dp/B00W3CRQWS" target="_blank">Ebuddy Women Sport Latex Steel Boned Corsets and Bustiers Waist Training Cincher</a> 
					ul
						li Size: M
						li Colour: Black
						li Regular price: $27.99 - $32.99
				li BH Cosmetics - <a href="http://www.bhcosmetics.com/products/sculpt-and-blend-2-10-piece-brush-set" target="_blank">Sculpt and Blend 2 – 10 Piece Brush Set</a> 
					ul
						li Regular price: $32
						li.red On sale (on Nov 28): $19
						li Notes: Seems to be American based, international shipping is $6
				
				li Forever21 - <a href="http://www.forever21.com/shop/ca/en/p/faux-fur-trim-moto-jacket-2000141262022--1001" target="_blank">Faux Fur-Trim Moto Jacket</a> 
					ul
						li Size: S
						li Regular price: $51.90
				//-li  - <a href="" target="_blank"></a> 
				//-	ul
				//-		li Size: 
				//-		li Regular price: $


			span.person Shannon Maranan
			ul
				li Soft moc/minnetonka moccasin
					ul
						li Size: 6
						li Colour: Light brown
				li Blanket Scarves
					ul 
						li Colour: Neutral colours only (NOT a colour person)
				li Chucks
					ul 
						li Size: 5.5
						li Colour: Black/White
				li Lululemon tights or any tights
					ul 
						li Size: 2/XS
				li Pandora Charms
				li Baseball caps
				li The Bay - Canada mitts
					ul 
						li Colour: <a href="http://www.thebay.com/webapp/wcs/stores/servlet/en/thebay/hbc-/red-canada-mittens/2016-canada-red-mittens-adult-0035-amac-f1500l--24" target="_blank">Red/Grey</a> - $12
						li Colour: Red/White/Black - nothing in adult size though?
						li Notes: They seem to only have the Red/White/Black one only in kids/youth size. Not sure which one Shannon wants.
				li Sephora - <a href="http://www.sephora.com/dipbrow-pomade-P384060?skuId=1578699" target="_blank">Anastasia Beverly Hills - Dipbrow</a>
					ul 
						li Colour: Dark Brown
						li Regular price: $23
				li Spring - <a href="http://www.callitspring.com/ca/en///CALL-IT-SPRING/accessories/women%27s/hats%2C-scarves-%26-gloves/GLELAN/p/40312877-37">GLELAN</a> 
					ul
						li Regular price: $22.99
				li Sephora - <a href="http://m.sephora.com/product/P241301?skuId=1147883" target="_blank">TOO FACED - Primed & Poreless Skin Smoothing Face Primer</a> 
					ul
						li Regular price: $30
				li Sephora - <a href="http://www.sephora.com/naked-basics-palette-P376213?skuId=1458157" target="_blank">Urban Decary - Naked Basics pallette</a>
					ul 
						li Regular price: $34
				li Aldo - <a href="http://www.aldoshoes.com/ca/en///women/boots/knee-high-boots/THILLA/p/43918356-96" target="_blank">THILLA</a>
					ul 
						li Size: 6
						li Regular price: $110
						li.red On sale (on Dec 7): $55.99
				//-li  - <a href="" target="_blank"></a> 
				//-	ul
				//-		li Size: 
				//-		li Regular price: $