/*
From: http://www.dafont.com/austie-bost-matamata.font
*/
@font-face {
  font-family: 'austie';
  src: url('/assets/fonts/Austie-Bost-Matamata.eot'), url('/assets/fonts/Austie-Bost-Matamata.ttf');
  /* Safari, Chrome, FireFox */ }

/*
From: http://www.dafont.com/reditum.font
*/
@font-face {
  font-family: 'reditum';
  src: url('/assets/fonts/Reditum.ttf'), url('/assets/fonts/Reditum.eot');
  /* IE */ }
