// Colours
$primaryFontColor: black;
$secondaryFontColor: #e74c3c;
$headerBackgroundColor: rgba(255, 255, 255, 0.80);

// Header
$headerHeight: 90px;
$headerHeightMobile: 50px;

// Footer
$footerHeight: 90px;
$footerFontSize: 10px;

$zIndexHeader: 900;
$zIndexSideNavigation: 800;
$zIndexArrow: 10;
$zIndexUpArrow: 10;

$borderColour: #e7e7e7;
$borderColourDark: #c7c7c7;