extends ../layout

block styles
	link(rel='stylesheet', href='/css/project.css')

block scripts
	script(src='/js/background.js')
	script(src='/js/project.js')

block content
	h1 LED Scoreboard: Separate Display and Controller (Simple)
	span.update (Last Updated: February 18, 2014)
	div.external-links
		a(href='http://scoreboard.heraldgutierrez.com/LEDSimple') View Webpage
		a(href='https://github.com/iheyroldy/Scoreboard') View Source on GitHub
	a(href='http://scoreboard.heraldgutierrez.com/LEDSimple')
		div.img(data-primary='led-simple.png' data-secondary='')
		
	div.description
		h2 Description:
		p A simplified version of the LED Scoreboard. But it is different because the display and controller are separated onto two different pages. As in a real sporting event, the display and controller are not together. The person controlling the scoreboard is positioned near the arena, while the display is far off into the distance. This has the same concept.
		
		h2 Features:
		ul
			li 'Home' and 'Away' teams can be displayed as 'Black', 'Blue', 'Green', 'Red', White', or 'Yellow' teams.
			li Game timer, which can be set to any time amount. Default is 20 mins.
			li Adding and Removing points. Able to add one (1), two (2), or three (3) points, and remove one (1) point at a time.
			li The person controlling the scoreboard can use any device (pc or mobile) to control the display.
