extends ../layout

block styles
	link(rel='stylesheet', href='/css/project.css')

block scripts
	script(src='/js/background.js')
	script(src='/js/project.js')

block content
	h1 Cards: Match Pairs
	span.update (Last Updated: February 17, 2014)
	div.external-links
		a(href='http://mips.heraldgutierrez.com/') View Webpage
		a(href='https://github.com/iheyroldy/MIPS') View Source on GitHub
	a(href='http://mips.heraldgutierrez.com/')
		div.img(data-primary='mips.png' data-secondary='')

	div.description
		h2 Description:
		p MIPS is a group my family is a part of. It is a group comprised of friends and families over different areas in the Philippines (think of people from Ambertrails, Transcona, and St. Vital area forming their own group). 
		p There is a list of families which displays who are members of MIPS. And there is also a section for the first MIPS basketball league. Within this section are the game schedule (date, time, teams playing, and who won in previous games), league standings, team stats, and individual player stats.