extends ../layout

block styles
	link(rel='stylesheet', href='/css/project.css')

block scripts
	script(src='/js/background.js')
	script(src='/js/project.js')

block content
	div
		a(href='/Portfolio/Scoreboard/Simple')
			div.previewContainer.small
				div#ScoreboardPreview.preview.small(navlink='li_SimpleScoreboard')
				center
					div.previewText.small
						h1 Simplified Scoreboard

		a(href='/Portfolio/Scoreboard/LED')
			div.previewContainer.small
				div#LEDScoreboardPreview.preview.small(navlink='li_LEDScoreboard')
				center
					div.previewText.small
						h1 L.E.D. Scoreboard

		a(href='/Portfolio/Scoreboard/LEDSimple')
			div.previewContainer.small
				div#LEDSimplePreview.preview.small(navlink='li_LEDSimple')
				center
					div.previewText.large
						h1 LED Scoreboard: Separate Display and Controller (Simple)
